* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
   background-color: #adadad;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

a:focus {
    color: #00CC00;
}

.container {
    width: 1000px;
    margin: 0 auto;
    color: #ffffff;
}

.header {
    text-align: center;
    background-image: url(../img/pic-block-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

table {
    margin: 0 auto;
    padding-top: 20px;
}

table .link {
    padding: 0 80px;
    font-size: 12px;
    font-style: italic;
}

.in {
    letter-spacing: 2px;
}

.header img {
    width: 70px;
    height: 70px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.first-line {
    margin: 10px;
    font-size: 20px;
}

.ond-line {
    font-size: 40px;
}

.third-line {
    margin: 10px;
    font-size: 14px;
}

.header .social {
    width: 30px;
    height: 30px;
    margin: 20px 10px;
}

.header span {
    color: #ff8c00;
}

.last-table {
    padding-bottom: 30px;
}

#about {
    background-color: #10151B;
    text-align: center;
    color: #ffffff;
}

#about .user {
    margin-top: 40px;
    width: 70px;
    height: 70px;
}

#about h2 {
    margin-top: 10px;
    line-height: 20px;
}

#about .line {
    width: 60px;
}

.question {
    margin-top: 10px;
    font-size: 13px;
}

#about .text-about {
    width: 300px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: left;
    float: left;
}

#about h3 {
    font-size: 15px;
    margin-bottom: 20px;
}

#about p {
    font-size: 12px;
}

.text-about .new-p {
    margin-top: 20px;
}

#about .social {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-right: 20px;
}

#about .photo {
    margin: 50px auto;
    width: 250px;
}

.photo img {
    width: 200px;
}

#about .skills {
    float: right;
    width: 350px;
    margin-left: 30px;
    margin-top: 20px;
    text-align: left;
}

.clear {
    clear: both;
    height: 50px;
}

.skills .first-div {
    margin-top: 20px;
}

.skills div {
    margin: 10px 10px 5px 0;
    width: 300px;
    height: 20px;
    border-radius: 1px;
    background-color: #0E171E;

}

.skills .yellow {
    background-color: #FFCC33;
    height: 20px;
}

.skills .ps {
    width: 70%;
}

.skills .ai {
    width: 90%;
}

.skills .ain {
    width: 60%;
}

.skills .cs {
    width: 90%;
}

.skills .js {
    width: 65%;
}

.skills .p-text {
    line-height: 20px;
    margin-left: 10px;
    float: left;
}

.skills .right {
    float: right;
    margin-right: 10px;
    color: #0E171E;
}

#portfolio {
    background-color: #FFCC33;
}

#portfolio {
    color: #ffffff;
    text-align: center;
}

#portfolio h2 {
    padding-top: 30px;
}

#portfolio .line {
    width: 60px;
}

.project-name {
    width: 300px;
    float: left;
    margin-top: 30px;
    margin-left: 50px;
    text-align: left;
    font-size: 12px;
}

.project-name h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-name .project-line {
    width: 300px;
    height: 1px;
    margin-bottom: 10px;
}

.project-name p {
    line-height: 20px;
    margin-bottom: 10px;
}

.project-name ul {
    list-style-image: url("../img/romb.png");
    margin-left: 30px;
    word-spacing: 2px;
    line-height: 20px;
    margin-bottom: 10px;
}

.pictures {
    float: right;
    width: 500px;
    height: 350px;
    margin-top: 70px;
    margin-right: 100px;
    background-image: url(../img/Iphone7.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.pictures img {
    width: 30px;
    height: 40px;
    margin-top: 10%;
}

.pictures .first-img {
    float: left;
    visibility: hidden;
}

.pictures .ond-img {
    float: right;
    visibility: hidden;
}

.pictures .close {
    width: 15px;
    height: 15px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
    visibility: hidden;
}

.pictures:hover img {
    visibility: visible;
}

.pictures .first-img:hover,
.pictures .ond-img:hover,
.pictures .close {
    cursor: pointer;
}

.block {
    display: inline-block;
    font-size: 12px;
    margin: 0 20px;
    line-height: 20px;
    padding: 0 10px;
}

.block:hover {
    border: 1px solid #ffffff;
    cursor: pointer;
}

.diamonds {
    text-align: center;
    margin-top: 70px;
    padding-bottom: 70px;
}

.diamond {
    width: 140px;
    height: 140px;
    transform: rotate(-45deg);
    border-radius: 10px;
    display: inline-block;
    margin: 0 50px;
    background-position: center;
    background-size: 350px 350px;

}

.d1 {
    background-image: url("../img/p1r.jpg");
}

.d2 {
    background-image: url("../img/p2r.jpg");
}

.d3 {
    background-image: url("../img/p3r.jpg");
}

.d4 {
    background-image: url("../img/p4r.jpg");
}

.d5 {
    background-image: url("../img/p5r.jpg");
}

.d6 {
    background-image: url("../img/p6r.jpg");
}

.d7 {
    background-image: url("../img/p7r.jpg");
}

#blog {
    background: #ffffff;
    color: #2f4f4f;
    text-align: center;
    padding-bottom: 50px;
}

#blog h2 {
    padding-top: 20px;
}

.line {
    width: 60px;
}

#blog p{
    font-size: 14px;
    margin: 10px;
}

.all-blog {
    width: 800px;
    margin: 30px auto;

}

.pic-com {
    width: 500px;
    text-align: left;
    float: left;
}

.picture-block {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    background-image: url("../img/p4.jpg");
    background-size: cover;
    box-shadow: #000000 0 0 5px 5px;
}

.pic-com h3 {
    margin: 20px 10px;
}

.pic-com p {
    word-spacing: 1px;
    line-height: 25px;
}

.pic-com img {
    width: 500px;
    height: 1px;
    margin: 20px 0;
}

#blog span {
    color: #FFCC33;
}

#blog input[type="text"], #blog input[type="email"] {
    margin-left: 10px;
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #ededed;
}

#blog textarea {
    margin: 20px 10px;
    width: 455px;
    height: 100px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    resize: none;
    background-color: #ededed;
    
}

#blog input[type="submit"] {
    width: 150px;
    height: 30px;
    font-size: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #FFCC33;
    color: #ffffff;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: #10151B 0 0 10px 3px;
}

textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder{
    padding-left: 10px;
}

.sidebar {
    width: 250px;
    display: inline-block;
    height: 700px;
    text-align: left;
}

.sidebar input[type="text"] {
    margin: 20px 0;
}

.fa-search {
    margin-left: -25px;
    color: #FFCC33;
}

.fa:hover {
    cursor: pointer;
}

.sidebar ul {
    list-style-type: none;
    margin: 30px;
    font-size: 14px;
    line-height: 40px;
    border-collapse: collapse;
}

.sidebar li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.first-list li:nth-child(1),
.first-list li:nth-child(3),
.ond-list li:first-child,
.ond-list li:nth-child(2) {
    border-bottom: 1px solid #ededed;
}

.scroll-pictures {
    height: 400px;
    width: 900px;
    margin: 0 auto;
    overflow: auto;
    white-space: nowrap;
}

.scroll-pictures .p-block {
    width: 250px;
    height: 350px;
    margin-right: 20px;
    background-color: #ededed;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}

.scroll-pictures img {
    height: 250px;
    width: 250px;
    margin-top: 0;
}

.scroll-pictures p {
    white-space: normal;
}

.read-more {
    padding-left: 20px;
    color: #FFCC33;
}

.read-more:hover {
    text-decoration: underline;
    cursor: pointer;
}

#blog ::-webkit-scrollbar {
    width: 12px;
    background-color: #ededed;
    border-radius: 10px;
}

#blog ::-webkit-scrollbar-thumb {
    border-width:1px 1px 1px 2px;
    background-color: #FFCC33;
    border-radius: 10px;
}

#quote {
    background-image: url("../img/pic-block-header.jpg");
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    padding: 40px 0;
    line-height: 40px;
}

.bird {
    width: 70px;
    height: 70px;
}

.chevron {
    width: 20px;
    height: 20px;
    margin: 40px 30px 20px 30px;
}

.chevron:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
}

#contacts {
    background: #ffffff;
    color: #2f4f4f;
    padding: 30px;
    text-align: center;
}

#contacts p {
    margin: 10px;
    font-size: 14px;
}

.m-p {
    line-height: 80px;
}

.m-p .fa {
    margin-left: 50px;
    color: #FFCC33;
    width: 30px;
    font-size: 30px;
}

#contacts input[type="text"], #contacts input[type="email"] {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ededed;
    margin: 10px;
}

#contacts textarea {
    width: 630px;
    height: 150px;
    border: none;
    border-radius: 5px;
    background-color: #ededed;
    resize: none;
}

#contacts input[type="submit"] {
    display: block;
    width: 150px;
    height: 40px;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    background-color: #FFCC33;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

@media (max-width: 980px) {

    .container{
        width: 100%;
    }

    .header, #about, #portfolio, #blog, #quote, #contacts, .clear {
        width: auto;
        padding: 1%;
    }

    .header {
        background-position-x: 50%;
    }

    #about .text-about, #about .skills {
        width: 35%;
        margin: 1%;
        font-size: 100%;
    }

    .skills div {
        width: auto;
    }

    .skills .yellow {
        margin: 0 0;
    }

    #about .yellow p {
        font-size: 50%;
    }

    #about .photo {
        width: 20%;

    }

    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    .all-blog {
        width: 90%;
        padding: 1%;
    }

    .pic-com {
        width: 65%;
        height: 70%;
        margin: 0 1%;
    }

    .picture-block {
        width: 90%;
        margin: 1%;
        text-align: center;
    }

    .first-img, .ond-img {
        width: 10%;
        height: 15%;
    }

    .sidebar {
        width: 25%;
        margin: 0 1%;
    }

    .sidebar input[type="text"] {
        width: auto;
    }

    .scroll-pictures {
        width: 90%;
    }

    .p-block {
        width: 20%;
        margin: 0 1%;
    }

    table {
        width: 50%;
        overflow-x: auto;
        overflow-y: auto;
        padding: 0 8%;
    }

    td {
        display: block;
    }

    p, h2, h3 {
        font-size: 100%;
    }

    #contacts textarea, #blog textarea{
        width: 75%;
        margin: 1% 1%;
    }

    #contacts input[type="text"], #contacts input[type="email"], #blog input[type="text"], #blog input[type="email"] {
        width: 35%;
        margin: 1% 1%;
    }

    #blog .sidebar input[type="text"] {
        width: 90%;
        margin: 2% 2%;
    }

    #blog input[type="submit"], #contacts input[type="submit"] {
        width: 20%;
        display: block;
        margin: 1% auto;
    }

    #portfolio .project-name {
        width: 40%;
        height: 100%;
        margin: 5% 2%;
    }

    #portfolio .pictures {
        width: 50%;
        margin: 5% 2%;
    }

    #portfolio .diamonds {
        width: auto;
        margin: 5% 1%;
    }

    #portfolio .diamond {
        width: 100px;
        height: 100px;
        margin: 3%;
    }
}

@media (max-width: 650px) {

    .container {
        width: 100%;
    }

    .header, #about, #portfolio, #blog, #quote, #contacts, .clear {
        width: auto;
        padding: 1%;
    }

    .header td {
        width: auto;
        display: block;
    }

    .header p {
        font-size: 80%;

    }

    #about .text-about , #about .skills, #about .photo,
    #portfolio .project-name, #portfolio .pictures{
        width: 96%;
        margin-top: 5%;
        float: none;
    }

    #portfolio .block {
        width: 40%;
        display: block;
        margin: 2% auto;
    }

    #portfolio .diamonds {
        width: 96%;
        margin: 1%;
        padding: 1%;
    }

    #portfolio .diamond {
        width: 80px;
        height: 80px;
        margin: 5%;
    }

    #portfolio .clear-last{
        display: none;
    }

    #blog .all-blog {
        width: 95%;
        margin: 1%;
    }

    #blog .pic-com, #blog .sidebar {
        width: 98%;
        margin: 1%;
        float: none;
    }

    #blog .picture-block {
        width: 98%;
    }

    #blog input[type="text"], #blog input[type="email"], #contacts input[type="text"], #contacts input[type="email"]{
        width: 45%;
        margin: 2%;
    }

    #blog textarea, #contacts textarea {
        width: 96%;
        margin: 2%;
    }

    #blog input[type="submit"], #contacts input[type="submit"] {
        width: 50%;
        margin: 2% auto;
    }

    #contacts .fa{
        display: inline-block;
        margin: 5% auto;
    }
}
