* {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: "Arial";
    font-size: 14px;
}

table {
    width: 700px;
    margin: 0 auto;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #160C06;
}

tr:nth-child(odd) {
    background-color: #26160F;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;

}

.header-link {
    text-align: center;
    line-height: 40px;
}

.header-img-logo {
    height: 315px;
    background-image: url(../img/header-logo.png), url("../img/header-picture.jpg");
    background-size: 30% 30%, cover;
    background-position: left bottom;
    background-repeat: no-repeat, no-repeat;
}

.crystal {
    padding: 20px;
    box-shadow:0px 10px 15px #000000 inset;
}

.new-line {
    margin-top: 20px;
    line-height: 20px;
}

.news, .more-news {
    padding: 20px 10px;
}

.news h1, .more-news h1 {
    margin-left: 10px;
}

.news tr , .more-news tr{
    background-color: inherit;
}

.news td, .more-news td {
    padding: 10px 0;
    text-align: center;
    vertical-align: top;
}

.news p, .more-news p {
    padding: 0 20px;
}

.traveler, .legion-news, .legion-starts,
.gamescom, .lich-king, .jun-wow{
    width: 220px;
    height: 110px;
    box-shadow: 0 0 2px 1px #ffffff;
}

.groups {
    padding: 20px;
}

.vk {
    background-color: #2e6da4;
}

.yt {
    background-color: #ff0000;
}

.fb {
    background-color: #00008b;
}

.groups td {
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}

.vk:hover, .yt:hover, .fb:hover {
    cursor: pointer;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline-block;
    margin: 20px;
}

.footer-list a {
    font-size: 12px;
}

.line {
    height: 2px;
}

.footer {
    padding: 10px;
    vertical-align: center;
}

.footer p {
    float: right;
}
